.carts{
    margin: 0%;
        border: none;
        background-image:url(../../Images/fdc4cbb78d11d28f99f7a8495f0dacdf.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
    
        width: 100%;
    }