<footer class="main-footer col-12 ">
        <div class="container container--flex">
            <div class="column column--33">
                <h2 class="column__title">¿Por qué visitarnos?</h2>
                <p class="column__txt">Por que somo uno de los mejores colegios de la argenitna y años de experiencia y egresados abalan la calidad y el compromiso que nos presede como institucion, ademas que la calidad de esta institucion es nuestro compromiso.</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Contactanos</h2>
                <p class="column__txt">Ubicacion: Atalapstruca</p>
                <p class="column__txt">Telefono:666-999-666</p>
                <p class="column__txt">mail: pagiansweb.666@gmail.com</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Siguenos en nuestras redes sociales</h2>
                <p class="column__txt"><a href="" class="icon-facebook">Facebook</a></p>
                <p class="column__txt"><a href="" class="icon-twitter">Siguenos en Twitter</a></p>
                <p class="column__txt"><a href="" class="icon-youtube">Visitanos en nuestro canal</a></p>
            </div>
            <p class="copy">© 2018 matias Paginas Web | Todos los derechos reservados</p>
        </div>
    </footer>