<div class="col-12 back">
<div class="col-12 header" >
  <!--<img src="https://media.sketchfab.com/urls/1d30e71949cb4edf903d71eaef4a977f/dist/thumbnails/c38eda2bb21345a68e77c903327f9ecc/1024x576.jpeg" style="size: 100px" alt="">
  -->    
    <div class="row">
          <div class="col-md-6">
           <div class="card-body">

            </div>
          </div>
          
          <div class="col-md-6">

            <button type="button" style="background: black" class="btn btn-secondary btn-dark btn-lg"><a class="menu__link menu__link--select" style="color: white" [routerLink]="['home']">home</a></button>
   

            </div>
          
          </div>
        </div>
       
        
    <div class="btn-group card-ti" role="group" aria-label="Button group with nested dropdown">

    </div>
  </div>





    