
.scrollable{
    margin: 1%;

overflow: scroll;
}
.card{
    margin-left: 10%;
    width: 18rem;

}
.backgroundPlayers{
    background-color: rgba(0,0,0,0.12);
    filter:brightness(0.4);
    height: 20em;
    width: 13em;
    
}
.home{
margin: 0%;
    border: none;
    background-image:url(../../Images/fdc4cbb78d11d28f99f7a8495f0dacdf.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;

    width: 100%;
}
.fondo{
    border-color: white;

    background-size:  18rem;
    background-attachment:inherit;
    margin-left: 10%;
    width: 18rem;
    
}
.backgroundClans{
    background-color: rgba(0,0,0,0.12);
    filter:brightness(0.4);
    height: 17em;
    width: 13em;
    
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
.banner__img{

    padding: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.etiquetas{
margin: 2%;

}