
<div class="home " style="min-height: 700px;  margin-bottom: 0px;">

<div style="margin-top: 30px">
  <div class="bestPlayers"  *ngIf="mejorJugador" style="position: inherit;">
    <div class="card" >
    <h5 class="card-header"  > {{mejorJugador.name}}</h5>

      <div class="card-body"style="background-image:url(../../Images/fdc4cbb78d11d28f99f7a8495f0dacdf.jpg)">
        <div class="card-body col-12">

          <h5 class="card-title " >{{mejorJugador.tag}}</h5>

          <div class="col-12 row"   style="margin-left: 0%" >
              <p class="card-text col-6"> TROFEOS</p>
              <p class="card-text col-6">{{mejorJugador.trophies}}</p>
              <p class="card-text col-6"><small>Clan</small> </p> 
              <p class="card-text col-6">{{mejorJugador.clan.name}}</p>
              <p class="card-text col-6"><small><small>Posicion en el rankin</small></small></p>
              <p class="card-text col-6">{{mejorJugador.rank}}</p>
              <p class="card-text col-6"><small><small>Posicion anterior</small></small></p>
              <p class="card-text col-6">{{mejorJugador.previousRank}}</p>
              <p class="card-text col-6">Nivel</p>
              <p class="card-text col-6">{{mejorJugador.expLevel}}</p></div>

        </div>
        
    </div>
  </div></div>
  
<!---->

<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
  <table class="table table-striped">
    <div class="etiquetas">
      <thead>
        <tr class="row">
          <th class="border border-dark "><input type="text" class="form-control" name="filterPost"
              placeholder="Buscar Clanes." [(ngModel)]="filterPost"></th>

          <button class="boton" data-toggle="modal" data-target="#exampleModal" (click)="validaBoton(filterPost)">BUSCAR</button>
        </tr>
      </thead>
    </div>
      <tbody>


        <div class="row col-12 ">
          <tr
            *ngFor="let elemento of clanes | filter:segFilter | paginate: { itemsPerPage: 8, currentPage: pageActualClans, id: 'first' }">


            <div class="card fondo text-white"  style="background-color: black"  >

            <img src="https://statsroyale.com/images/clanwars/{{elemento.badgeId}}_magical.png" class="card-img-top backgroundClans" alt="card-img" style="width:350%">

              <div class="card-body card-img-overlay" >
                  <a class="menu__link menu__link--select" style="color: white" (click)="cargarMejor(elemento)" routerLink="/clan/{{elemento.tag}}">
                    <h5 class="col-8" >{{elemento.name}}
                      </h5>
                  </a>
        
                  <img  src="https://statsroyale.com/images/flags/{{elemento.location.id}}.png" onerror="this.src='http://4.bp.blogspot.com/-H4O3wD-AY-E/Tye6d7oP3_I/AAAAAAAAAJE/-gWRdvTHmEE/s1600/1920x1920_bandera_de_la_paz.gif'" style="width: 25px; height: 25px;"  alt="">

                                 <h6 class="card-subtitle mb-2 text-muted">{{elemento.tag}}</h6>
                <div class="col-12 row">
                    <p class="card-text col-6"> <small>Localisacion</small></p>
                  <p class="card-text col-6">{{elemento.location.name}}</p>
                <p class="card-text col-6">Copas</p>
                <p class="card-text col-6">{{elemento.clanScore}}</p>
              </div>
                <a class="card-link"> <button class="btn btn-primary btn-lg active" data-toggle="modal" data-target="#exampleModal"
                    (click)="getClanMember(elemento.tag)">MIEMBROS</button></a>
                <a class="card-link">{{elemento.members}}</a>
              </div>
            </div>





          </tr>
        </div>
      </tbody>
 
  </table>
  <pagination-controls *ngIf="segFilter" (pageChange)="pageActualClans = $event" id="first"></pagination-controls>

  <table class="table table-striped">
      <tbody>
          <div class="row col-12">
        <div class="row ">

          <tr *ngFor="let elemento of players| paginate: { itemsPerPage: 8, currentPage: pageActualMiembros, id: 'second' }">
              <a class="menu__link menu__link--select" style="color: white" (click)="cargarMejor(elemento)" routerLink="/jugador/{{elemento.tag}}">
            <div class="card fondo text-white " style="background-color: black"  >
                <img src="https://statsroyale.com/images/clanwars/{{elemento.clan.badgeId}}_magical.png" class="card-img-top backgroundPlayers" alt="card-img" style="width:350%">

              <div class="card-body col-12 card-img-overlay">
                  <h5 class="card-header">{{elemento.name}}</h5>
                <h5 class="card-title text-muted " >{{elemento.tag}}</h5>

                <div class="col-12 row"   >
                    <p class="card-text col-6"> TROFEOS</p>
                    <p class="card-text col-6">{{elemento.trophies}}</p>
                    <p class="card-text col-6"><small>DONACIONES</small> </p> 
                    <p class="card-text col-6">{{elemento.donations}}</p>
                    <p class="card-text col-6">GANADAS</p>
                    <p class="card-text col-6">{{elemento.wins}}</p>
                    <p class="card-text col-6">PERDIDAS</p>
                    <p class="card-text col-6">{{elemento.losses}}</p>
                    <p class="card-text col-6">ROL</p>
                    <p class="card-text col-6">{{elemento.role}}</p></div>

              </div>
            </div>
          </a>

          </tr>
        </div>
      </div>
      </tbody>
  </table>
  <pagination-controls *ngIf="players" (pageChange)="pageActualMiembros = $event" id="second"></pagination-controls>
</div>


</div>

</div>
















